.scrollbar
	.track
		.thumb
			.end

.viewport
	table.grid-table.overview
		thead
			tr.col-grouping
				- var grouping = headers;
				- for ( var i = 0; i < grouping.length; ++i ) {
					- var group = grouping[ i ];
					- var klass = group.action ? "sticky" : "";
					th(colspan=group.span, class=klass)
						- if ( group.action !== undefined )
							span.on.sticky-pin= group.title
						- else
							= group.title
				- }
			tr.filter
				- for ( var i = 0; i < columns.length; ++i ) {
					- var column = columns[ i ];
					- var klass = column.sortable ? "sortable" : "";
					- var colspan = column.span || 1;
					- var label = column.filter ? column.filter.id : "";
					th(scope="col", colspan=colspan, class=klass)
						label(for=label)= column.title
						- if ( column.title === "Bulk" )
							.fav-sel-all
								button.btn.select(title="Select all on-screen", data-toggle="button")
								button.btn.favourite(title="Favourite all on-screen", data-toggle="button")
						- if ( column.filter )
							case column.filter.type
								when "text"
									input.txt-filter(id=column.filter.id, type="text")
								when "menu"
									.btn-group(class=column.filter.id)
										a.btn.btn-large.dropdown-toggle(href="#", data-toggle="dropdown")
											| sort by?
											span.caret
										ul.dropdown-menu
											each value in column.filter.values
												li
													a(href="")= value
								when "textcombo"
									div(class=column.filter.id + "-inputs")
										- klass = column.filter.active ? "filter-active" : "";
										input.txt-filter(id=column.filter.id, type="text", class=klass)
										a.disable
										.btn-group
											a.btn.btn-large.dropdown-toggle(href="#", data-toggle="dropdown")
												| contains
												span.caret
											ul.dropdown-menu
												each value in column.filter.values
													li
														a(href="")= value
										a#advanced-keyword-filter(href="#", title="Advanced search options")
				- }
			tr(hidden)
				td.bulk-actions(colspan="17")
						.container.ff-icon-before.bulk-wrapper
							span
								a.ff-icon-after.x-zero-alert(href="#")
								span
									strong Bulk actions menu
									br
									| for all selected items
								.bulk-action-menu.btn-group
									a.btn.btn-large.dropdown-toggle(href="#", data-toggle="dropdown")
										| sell all
										span.caret
									ul.dropdown-menu
										li
											a(href="") another action
										li
											a(href="") sell all
										li
											a(href="") go "moo" like a cow
		tbody
			tr.not-data(hidden)
				td.zero-alert(colspan="17")
					span.container.ff-icon-before
						span
							a.ff-icon-after.x-zero-alert(href="#")
							strong Sorry
							| , we couldnt find any matches for this keyword 
							strong under expired domains.
							br
							| Perhaps instead try searching under 
							strong new registrations
			tr.not-data
				td.filter-params(colspan="17")
					span.container.ff-icon-before
						span
							a.save-search.ff-icon-before.btn(href="#", data-toggle="dropdown")
								strong save 
								| this search
							| Showing similar domains from 
							strong all sources 
							| ending 
							strong today
							| , containing keywords 
							strong 'protrada'
		tfoot
			tr
				td(colspan="17")
					#foot-pager
						strong Loading more 
						| domain results ...
						.ajax-spinner
							.ball
							.ball1