include ../partials/header
include ../partials/connect-afternic

- if ( !showDefaultContent ) {

#main-container.page-default
	h5#first-heading.home welcome to Protrada

	h2#user-greeting hi, #{user.name}

	hgroup#member-details
		h5
			| you are currently on a 
			strong #{user.type}.
		h5#member-renewal
			| your next membership renewal is:
			strong.ff-icon-before!= user.renewal

	#default-container
		hgroup#default-banner
			a(href="#")#watch-video.ff-icon-before
				strong watch a video introduction
				| to domain trading

			h1 buy + sell domains,

			h2#make-profits
				| make 
				span profits

		table.default-sources
			tr
				td
					span.sources-sprite(source="Snap Names")
				td
					span.sources-sprite(source="Pool.com")
				td
					span.sources-sprite(source="GoDaddy")
			tr
				td
					span.sources-sprite(source="Afternic")
				td
					span.sources-sprite(source="Namejet")
				td
					span.sources-sprite(source="Sedo")

		h3 trade domains from the 
			span.ff-icon-before.world(title="the world") 's 
			| largest auction houses 
					

		p
		
			a#temp-list-forsale(href="#").default List forsale panel
			|  , 
			a#temp-import-domains(href="#").default Import domains panel 
			|  , 
			a#temp-export-data(href="#").default Export data panel
			|  , 
			a#temp-protrada-video(href="#").default Temporary video panel
			|  , 
			a#temp-advanced-search(href="#").default Temporary advanced search panel 		 	
			|  ,  
			a#temp-domain-details(href="#").default Temporary domain details panel 		 	
			|  .
		
		p 
		
			| Protrada aggregates the world's best auctions giving you real-time access to over 6.4 million domains and 30 unique data filters to help you pick just the right domains and monetise them without having to stare at the computer screen all day long!

		.default-search-container
			include ../partials/help-bubble

			form.ff-icon-before
				input(type="text", placeholder="domain search _")
				button.ff-icon-before
					strong Search
					| (or hit the enter key)
				a#advanced-keyword-filter(href="#", title="Advanced keyword search")

			span#advanced-search
				a#advanced-keyword-filter(href="#", title="Advanced keyword search")
				strong advanced
				|  search options

- } else {

#main-container.page-home
	h5#first-heading.home welcome to Protrada

	h2#user-greeting hi, #{user.name}

	hgroup#member-details
		h5
			| you are currently on a 
			strong #{user.type}.
		h5#member-renewal
			| your next membership renewal is:
			strong.ff-icon-before!= user.renewal

	#health-and-status.clearfix
		#portfolio-health
			h3#health-title.ff-icon-before
				| portfolio 
				strong health

			!= portfolioHealth.default

			span.demo-spark(title="Graph currently inactive - no data to display")

		h4#h4-status-summary.ff-icon-before
			| your current trading 
			strong status summary

		#status-summary.tiny-scrollbar-horiz
			.scrollbar
				.track
					.thumb
						.end
			.viewport
				.overview
					ul#status-data
						li
							h5(data-title="watching", data-value="#{satusSummary.watching}")
							span.status-descr domains that you're currently watching
						li
							h5(data-title="losing", data-value="#{satusSummary.losing}")
							span.status-descr auctions that you're currently losing
						li
							h5(data-title="winning", data-value="#{satusSummary.winning}")
							span.status-descr auctions that you're currently winning
						li
							h5(data-title="pre-auction", data-value="#{satusSummary.preAuction}")
							span.status-descr register your interest for private auctions
						li.divided
							h5(data-title="pending", data-value="#{satusSummary.pending}")
							span.status-descr domains pending (not propogated)

	- if ( showTradingSummary ) {
		!= partial("partials/home-trending")
	- }

	ul#portfolio-data-tabs.nav.nav-tabs
		li.active
			a(href="#whole-portfolio") my portfolio
		li
			a(href="#listed-for-sale") listed for sale (4)

	#dashboard-tab-panes.tab-content
		#whole-portfolio.tab-pane.active
			h2.tab-intro-heading#complete-listing #{contentTabs.wholePortfolio.title}

			p.tab-intro-text.clearfix
				= contentTabs.wholePortfolio.intoText

			#grid-view

		#listed-for-sale.tab-pane
			h2.tab-intro-heading#complete-listing #{contentTabs.listedForSale.title}

			p.tab-intro-text.clearfix
				= contentTabs.listedForSale.intoText

			#temp-for-sale grid view control goes in here

	#thetableclone
		table.grid-table
			thead
			tbody
- }

script
	$("#grid-view").grid({
		url: "exchange/grid",
		stickyHeader: true
	});
	
script(src="/js/home.js")